* {
    height: 0px;
    margin: 0px;
    width: max-content; 

}

body {
    background-image: url('../img/perfuma-login.jpg');
}

header {
    width: 100%;
    height: 100px;
    position:relative;
    color: white;
}

.logo {
    position: relative;
    height: 85px;
    left: 40px;
    top: 10px;
}



main {
    position: relative;
    width: 400px;
    height: 450px;
    background-color: white;
    left: 500px;
    top: -20px;
    font-family: Roboto, sans-serif;
    border-radius: 8px;
}

.titulo {
    width: 400px;
    height: 30px;
    background-color: rgb(163, 91, 199);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
}

.campoparaoemail {
    height: 35px;
    width: 350px;
    background-color: white;
    color: rgb(20, 19, 19);
    border-radius: 5px;
    border: 1px solid black;
}

.email {
    position: relative;
    top: 75px;
    left: 20px;
    z-index: 1px;
    font-size: 22px;
    font-weight: bold;
}

.senha{
    position: relative;
    top: 200px;
    left: 20px;
    z-index: 1px;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.botao {
    width: 150px;
    height: 40px;
    position: relative;
    top: 320px;
    left: 120px;
    background-color: #9204bd;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
}
