* {
    margin: 0px;
    font-family: "Roboto",sans-serif;
}

header {
    background-color: #b573c9;
    height: 100px;
    color: white;
}

.logo {
    padding: 10px;
    position: relative;
    left: 70px;
    bottom: 10px;
}

.menu1 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 32px;
    right: 60px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.menu2{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 42px;
    right: 50px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.sacola {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 130px;
    right: 60px;
}

.fretegratis {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 105px;
    right: 50px;
    font-size: 16px;
}

.barradepesquisa, .botaodepesquisa {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 600px;
    position: relative;
    bottom: 210px;
    left: 200px;
}

.botaodepesquisa {
    display: flex;
    justify-content: center;
    height: 36px;
    width: 35px;
    left:790px;
    bottom: 246px;
    cursor: pointer;
}

.lupa {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 279px;
    left: 793px;
}

.banner1 {
    display: flex;
    justify-content: center;
}

.categoria {
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

.imgcategorias {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.img1 {

    display: inline-block;
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
    border: 4px solid black;
    margin: 5px;
    border-radius: 10px;
}

.imgscenter {
    display: flex;
    justify-content: center;
}

.valor {
    font-size: 22px;
    font-weight: bold;
}

.masculino {
    font-size: 35px;
    color: rgb(177, 16, 16);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.feminino {
    font-size: 35px;
    color: rgb(177, 16, 16);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.infantil {
    font-size: 35px;
    color: rgb(177, 16, 16);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

footer {
    background-color: black;
    margin-top: 90px;
    color: white;
    height: 300px;
}

.pagamento {
    display: flex;
    justify-content: end;
    position: relative;
    right: 40px;
    bottom: 150px;
}

.redessociais {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 55px;
    right: 180px;
}

.vem {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 50px;
    left: 200px;
    font-size: 30px;
}
.WhatsApp, .instagram, .Facebook {
    padding-right: 30px;
}

.categoriasrodape {
    display: flex;
    justify-content: space-around;
    margin-right: 630px;
    padding-top: 18px;
    font-size: 16px;
}

.itensrodape {
    display: flex;
    justify-content: space-around;
    margin-right: 610px;
    padding-top: 18px;

    font-size: 18px;
    line-height: 30px;
}

.serviçosrodape{
    position: relative;
    left: 20px;
}

.produtosrodape {
    text-decoration: none;
}

.rodapetexto {
    text-decoration: none;
    color: white;
}
