* {
    height: 0px;
    margin: 0px;
    width: max-content;   
}

header {
    background-color: #b573c9;
    width: 100%;
    height: 100px;
    position:relative;
    color: white;
}

.logo {
    position: relative;
    height: 95px;
    left: 100px;
    top: 3px;
}

.barradepesquisa, .botaodepesquisa {
    position: relative;
    height: 30px;
    width: 600px;
    margin-top: 12px;
    left: 230px;
    bottom: 100px; 
}

.botaodepesquisa {
    height: 36px;
    width: 35px;
    left: 210px;
    bottom: 105px;
    cursor: pointer;
}

.menu {
    
    font-size: 18px;
    position:relative;
    left: 380px;
    top: -27px;
    text-decoration: none;
    color: white;
    font-family: "Roboto",sans-serif;
}

.lupa {
    position:relative;
    height: 25px;
    top: -93px;
    left: 177px;
    cursor: pointer;
}

.frete {
    position: relative;
    font-size: 18px;
    left: 898px;
    top: -85px;
    font-family: "Roboto",sans-serif;
}

.menu2 {
    font-size: 18px;
    position: relative;
    text-decoration: none;
    top: -27px;
    left: 895px;
    color: white;
    font-family: "Roboto",sans-serif;
}

.sacoladecompras {
    position: relative;
    height: 40px;
    left: 1220px;
    top: -46px;
}

.banner1 {
    position: relative;
    height: 547px;
    max-width: 2023px;
}

.categorias {
    position: relative;
    top: 600px;
    font-size: 30px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    left: 400px; 
    color: red;
}

.categoria1 {
    position: relative;
    top: 700px;
    height: 436px;
    left: 200px;
}

.categoria2 {
    position:relative;
    top: 700px;
    height: 436px;
    left: 315px;
}

.categoria3 {
    position:relative;
    top: 700px;
    height: 436px;
    left: 420px;
}

.produtosmasculinos {
    position: relative;
    top: 1200px;
    left: 450px; 
    font-size: 30px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    display: flow-root;
    display: grid;
    display: flex;
    color: #9204bd;
}

.masculino1, .masculino2, .masculino3, .masculino4 {
    position:relative;
    height: 400px;
    width: 250px;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    float: right;
    top: 1300px;
    left: 290px;
    border: 1px  solid black;
}

.masculino2 {
    position: relative;
    left: px;
    top: 1300px;
    left: 210px;
}

.masculino3 {
    position: relative;
    left: 130px;
    top: 1300px;
}

.masculino4 {
    position: relative;
    left: 50px;
    top: 1300px;
}

.produtosfeminino {
    position:absolute;
    top: 1861px;
    left: 460px;
    font-size: 30px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #9204bd;
}


.feminino1, .feminino2, .feminino3, .feminino4 {
    position:relative;
    height: 400px;
    width: 250px;
    background-color: white;
    display: block;
    box-sizing: border-box;
    float: right;
    top: 1480px;
    left: 290px;
    border: 1px  solid black;
}

.feminino2 {
    position: relative;
    left: 210px;
    top: 1480px;
}

.feminino3 {
    position: relative;
    left: 130px;
    top: 1480px;
}

.feminino4 {
    position: relative;
    left: 50px;
    top: 1480px;    
}


.produtosinfantil {
    position:absolute;
    top: 2431px;
    left: 495px;
    font-size: 30px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #9204bd;
}


.infantil1, .infantil2, .infantil3, .infantil4 {
    position:relative;
    height: 400px;
    width: 250px;
    background-color: white;
    display: block;
    box-sizing: border-box;
    float: right;
    top: 1645px;
    left: 290px;
    border: 1px  solid black;
}

.infantil2 {
    position: relative;
    left: 210px;
    top: 1645px;
}

.infantil3 {
    position: relative;
    left: 130px;
    top: 1645px;
}

.infantil4 {
    position: relative;
    left: 93px;
    left: 50px;
}

footer {
    position:absolute;
    background-color: #000000;
    height: 290px;
    width: 100%;
    position:relative;
    top: 2911px;
    font-family: "Roboto",sans-serif;
}

.produtosrodape {
    position: absolute;
    left: 35px;
    top: 15px;
    font-size: 22px;
    color: white;
}

.Perfumes{
    position: absolute;
    left: 35px;
    top: 55px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.centraldeatendimentorodape {
    position: absolute;
    left: 220px;
    top: 15px;
    font-size: 22px;
    color: white;
}

.Atendimento, .MeusPedidos, .FormasdePagamento, .PrazodeEntrega, .PolíticadePrivacidade {
    position:absolute;
    left: 220px;
    top: 55px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    line-height: 22px;
}

.MeusPedidos {
    position: absolute;
    top: 80px;
}

.FormasdePagamento {
    position: absolute;
    top: 105px;
}

.PrazodeEntrega {
    position: absolute;
    top: 130px;
}

.PolíticadePrivacidade {
    position: absolute;
    top: 155px;
}

.serviçosrodape{
    position:absolute;
    left: 550px;
    top: 15px;
    font-size: 22px;
    text-decoration: none;
    color: rgb(240, 220, 220);
    line-height: 22px;
    z-index: 1;
}

.RastrearseuPedido  {
    position:absolute;
    left: 550px;
    top: 55px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    line-height: 22px;
}

.CupomdeDesconto {
    position:absolute;
    left: 550px;
    top: 80px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    line-height: 22px;
}

.formasdepagamentorodate {
    position: absolute;
    height: 70px;
    left: 741px;
    top: 35px;
}

.WhatsApp, .instagram, .Facebook{
    position: absolute;
    height: 35px;
    left: 544px;
    top: 55px;
    z-index: 1;


}

.WhatsApp {
    left: 1px;
}

.instagram {
    left: 75px;
}

.Facebook {
    left: 151px; 
}

.vemficarpertinho {
    position: absolute;
    margin: auto;
    color: white;
    left: 920px;
    top: 165px;
    font-size: 12px;
}

.masculino {
    height: 50px;
}