/*
* 
* @author Léo Porto
*/

/* Reset CSS */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    margin: auto;
    height: 100vh;
    max-width: 100%;
}

#container-header{
    width: 100%;
    height: 5vh;
    background-color: #dddddd;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.anuncio img{
    width: 27px;
    height: 25px;
    margin-right: 10px;
}

.container-menu{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.img-bars img, .img-search img, .img-lovbag img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.img-lovbag img{
    margin: 10px;
}

input[type='search']{
    width: 98%;
    height: 5vh;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    transition: .3s;
    cursor: pointer;
}

input[type='search']:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.container-search{
    position: relative;
    text-align: center;
    margin-bottom: 10%;
}

.container-search img{
    position: absolute;
    right: 2%;
    top: 8px;
}

.container-footer{
    background-color: black;
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

.footer-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 20px;
}

.footer-texto span{
    color: dodgerblue;
    font-weight: bold;
    font-size: 2rem;
}

.footer-texto h5{
    margin-bottom: 15px;
}

.redes-sociais{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.redes-sociais img{
    padding: 15px;
}

.menu-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.menu-footer a{
    width: 100%;
    padding: 10px;
    color: #dddddd;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
}

.pagamentos{
    margin: 10px;
}

.pagamentos a {
    width: 98%;
    padding: 10px;
    color: #dddddd;
}

.pagamentos-cartoes{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.pagamentos-cartoes img{
    width: 3%;
    margin-right: 15px;
}

.politicas-empresa{
    margin: 10px;
}

.politicas-empresa p{
    padding: 7px;
    text-align: justify;
}



/* Css Página Adminstrador Produto */

#container-principal{
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container-lateral{
    width: 20%;
    height: 100%;
    padding: 20px;
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.titulo{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    margin: 10px 0 40px;
}
.container-lateral ul li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
    max-width: 100%;
}

.container-central{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin: 0 10px 10px;
}

.container-header img{
    width: 40px;
    margin-right: 10px;
}

.center{
    display: flex;
    align-items: center;    
}

.container-menu-adminstrador ul{
    display: flex;
    flex-direction: row;
}

.container-menu-adminstrador ul li{
    padding-right: 30px;
}

.caminho{
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.caminho p{
    padding: 10px;
}

.usuario-adicionar-produto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 0 0 10px;
}

.usuario-adicionar-produto button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.usuario-adicionar-produto button img{
    width: 20px;
    margin: 5px;
}
.div-table{
    margin: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
table{
    text-align: left;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 10px;
}

.table div input[type="search"]{
    width: 200px;
}

.table div input[type="number"]{
    width: 40px;
    height: 5vh;
    border: 2px solid #aaa;
    border-radius: 4px;
}

table tr th{
    background-color: rgba(0, 0, 0, 0.2);
}

table tr th, td{
    padding: 10px;
}

table tr td button img{
    width: 20px;
    height: 15px;
    cursor: pointer;
}

.cinza{
    background-color: #eee;
}
