<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euphoria Calvin Klein</title>
    <link rel="stylesheet" href="/public/css/paginas_dos_produtos.css">
</head>

<body>
    <main>
        <div class="containerPai">
            <div class="container-principal">
                <div class="container-esquerdo">
                    <img src="/public/img/2.png" class="imagens-menor1" alt="">
                    <img src="/public/img/2.png" class="imagens-menor1" alt="">
                    <img src="/public/img/2.png" class="imagens-menor1" alt="">
                </div>
                    <div class="imagem-maior">
                    <img src="/public/img/2.png" alt="">
                    </div>

                <div class="container-direito">
                    <h1>Euphoria Calvin Klein</h1>
                    <ul>Perfume Feminino - Eau de Parfum - 30ml</ul>
                    <ul><b>R$199,90</b></ul>
                    <ul>8x de R$24,98</ul>

                    <div class="btn-comprar">
                        <button class="comprar">COMPRAR</button>
                        <button class="calcular">Calcular Frete</button>
                    </div>
                    <div class="desconto">
                        <p>Oba, GANHE 5% OFF no Boleto Bancário ou no PIX!</p>
                        <p>Selecione sua forma de pagamento e aproveite ;)</p>
                        <p>Cupons, brindes e descontos não são acumulativos (verifique na finalização da compra).</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="descricao"> <h1>DESCRIÇÃO</h1></div>

            <div class="container-secundario">
                <div class="descricao1">
                    <h1>ESPECIFICAÇÕES</h1>
                    <ul> <b>Gênero:</b>	Feminino</ul>
                    <ul> <b>Concentração:</b> Eau de Parfum - EDP</ul>
                    <ul> <b>Familia Olfativa:</b> Floral, Oriental </ul>
                    <ul> <b>Notas de Fundo:</b> Violeta, Âmbar, Almíscar e Mogno Este perfume é premiado </ul>
                    <ul> <b>Intensidade:</b> Moderada / Alto</ul>
                    <ul> <b>Tempo de Fixação:</b> Longo</ul>
                    <ul> <b>Estilo:</b>	Independente, confiante e luxuosa </ul>
                    <ul> <b>Ocasião:</b> Sofisticada, Noite</ul>
                    <ul> <b>Sazonalidade:</b> Outono, Inverno </ul>
                    <ul> <b>Tipo de Aplicação:</b> Spray</ul>
                    <ul> <b>Ano de Lançamento:</b> 2005 </ul>
                </div>
                <div class="descricao2">
                    <h1>SOBRE O PRODUTO</h1>
                    <p>O perfume Calvin Klein Euphoria for Womensimboliza o espírito feminino. Irresistivelmente sedutor, ele carrega a promessa de memórias inesquecíveis. Desperta o espírito e inspira novas experiências.
                        Sofisticado, o perfume feminino Calvin Klein Euphoria for Women
                        foi inspirado pela elegância simples da orquídea. Para mulheres independentes, confiantes e sofisticadas.</p>
                    <p>Sobre a fragrância
                        Uma fragrância sedutora que reúne flores exóticas, como a orquídea negra e a flor de lótus, com frutas suculentas, como a exuberante romã e o crocante caqui. Em seguida, traz uma fusão cremosa de madeira de mogno e a delicada violeta. Sua fragrância acentua o mistério e a sedução feminina.</p>
                    <p>Sobre a marca
                        Uma das marcas líderes mundiais em lifestyle, Calvin Klein é sinônimo de um estilo minimalista, autêntico e contemporâneo. Ousada. Moderna. Sensual. Icônica. Símbolo da vanguarda no universo da perfumaria, Calvin Klein lançou ícones mundiais como os perfumes CK One, Eternity e Euphoria, fragrâncias que marcaram gerações e continuam traduzindo estilos de vida e comportamento."</p>        
                </div>
            </div>
            <div class="ultimo-container">
                <h1>GARANTIA</h1>
                <P>Todos os nossos produtos são 100% originais e distribuído por fornecedores oficiais de cada marca no Brasil.
                    Saiba mais sobre porque é confiável comprar na Época Cosméticos.</P>

            </div>
        </div>
    </main>

</html>