

header {
    background-color: blue;
    min-width: min-content;

}

.img1 {
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    border: 4px solid black;
    margin: 5px;
    border-radius: 10px;
}

.valor {
    font-size: 22px;
    font-weight: bold;
}

.masculino {
    font-size: 35px;
    color: rgb(177, 16, 16);
    display: flex;
    justify-content: center;
    margin: 25px;
}

.feminino {
    font-size: 35px;
    color: rgb(177, 16, 16);
    display: flex;
    justify-content: center;
    margin: 25px;
}

.infantil {
    font-size: 35px;
    color: rgb(177, 16, 16);
    display: flex;
    justify-content: center;
}



footer {
    background-color: black;
    height: 200px;
}

