/*
* 
* @author Léo Porto
*/

/* Reset CSS */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    background-color: #c2b2c710;
    
}

html {
    font-size: 16px;

}

body {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 100%;
}


.container-principal {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #c2b2c710;


}

.container-lateral {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(158, 137, 161, 0.311);
    padding: 10px;
}

.usuario img {
    width: 100px;
}

.usuario h1, .informacao h1, .meus-pedidos h2 {
    font-weight: bolder;
    color: #a12ec4;
}

.creditos,
.notificacoes {
    width: 100%;
    border: 1px solid rgba(66, 6, 71, 0.288);
    border-radius: 5px;
    margin: 10px 0;
    color:rgb(249, 249, 249)
}

.creditos ul h3,
.notificacoes h3 {
    padding: 3px;
    font-size: 1.2rem;
    background-color: rgb(146, 70, 169);
    font-weight: 600;
}

.creditos ul li,
.caixa1,
.caixa2 {
    background-color: rgba(134, 84, 149, 0.456);
    padding: 3px;
    color: rgba(72, 21, 88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.switch .switch-text {
    padding-right: 0.3rem;
}

.switch .switch-wrapper {
    display: inline-block;
    width: 40px;
    height: 22px;
    position: relative;
}

.switch .switch-wrapper .switch-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: #a12ec489;
}

.switch .switch-wrapper input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .switch-wrapper .switch-button::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    transition: .4s all ease;
    background-color: aliceblue;
}

.switch .switch-wrapper input:checked + .switch-button {
    background-color: #58A721;
}

.switch .switch-wrapper input:checked + .switch-button::before {
    transform: translateX(26px);
}

.btn-menus {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn-menus button {
    margin-bottom: 10px;
    width: 100%;
    height: 2rem;
    text-transform: uppercase;
    border-radius: 5px;
    color: rgba(72, 21, 88);
    font-weight: bolder;
    cursor: pointer;
    border-color: #a12ec4;
    background-color: rgba(134, 84, 149, 0.456);
}

.btn-menus button:hover {
    color: rgba(134, 84, 149, 0.456);

}

.atendimento-cliente h3 {
    padding: 3px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(72, 21, 88);

}

.atendimento-cliente h5{
    padding: 3px;
    color: rgba(72, 21, 88);
}

.atendimento-cliente a {
    display: block;
    margin: 15px 0 0 3px;
    color: rgba(72, 21, 88);
}

.atendimento-cliente a:hover {
    color: rgba(123, 127, 133, 0.7);
}

.container-central{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), white);
}

.info-carrinho{
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
    color: rgba(72, 21, 88);
}

.informacao h5{
    font-weight: 600;
    color: rgba(72, 21, 88);
    
}

.informacao span, .meus-pedidos span{
    color: rgba(72, 21, 88);
}

.carrinho-compras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(124, 41, 151);
    
}

.carrinho-compras img{
    width: 100px;
}

.table td img{
    width: 20px;
}

.meus-pedidos{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:rgba(72, 21, 88)
   
}

.meus-pedidos span, .meus-pedidos h2{
    margin-left: 20px;
}

table{
    width: 100%;
    border: 2px solid #650d80f4;
    border-radius: 10px;
    background-color: #9c60ae25;
}

.table {
    width: 100%;
    margin-top: 20px;

}

thead tr th{
    background-color: #c2b2c710;
}

tbody tr td{
    text-align: center;
    background-color: #c2b2c710;
}
