<%- include("./partials/head") %>

    <%- include("./partials/header-adm") %>


    <main id="container-principal-product">

            <div id="container-principal-adm">
                <div class="caixa-panel-adm">
                    <a href="/user">
                        <h2>Clientes</h2>
                        <img src="../../img/clientes.png" alt="">
                    </a>
                </div>
                <div class="caixa-panel-adm">
                    <a href="/product">
                        <h2>Produtos</h2>
                        <img src="../../img/keystone-product.png" alt="">
                    </a>
                </div>
                <div class="caixa-panel-adm">
                    <a href="/category">
                        <h2>Categorias</h2>
                        <img src="../../img/opcoes.png" alt="">
                    </a>
                </div>
                <div class="caixa-panel-adm">
                    <a href="/order">
                        <h2>Pedidos</h2>
                        <img src="../../img/pedido.png" alt="">
                    </a>
                </div>
            </div>
        </main>
        <%- include("./partials/footer-adm") %>