<%- include("./partials/head") %> 
<body class="body-criar-conta-usuario">
    <div class="container">
        <div class="header">
          <h2>Criar Uma Conta</h2>
        </div>
  
        <form id="form" class="form">
          <div class="form-control">
            <label for="username">Nome</label>
            <input
              type="text"
              id="username"
              placeholder="Digite seu nome e sobrenome..."
            />
    
          </div>
  
          <div class="form-control">
            <label for="email">E-mail</label>
            <input type="text" id="email" placeholder="Digite seu email.." />
            
          </div>
  
          <div class="form-control">
            <label for="password">Senha</label>
            <input
              type="password"
              id="password"
              placeholder="Digite sua senha..."
            />
        
          </div>
  
          <div class="form-control">
            <label for="password-confirmation">Confirmação de senha</label>
            <input
              type="password"
              id="password-confirmation"
              placeholder="Digite sua senha novamente..."
            />
            
          </div>
  
          <button type="submit"><a href="/">Cadastrar</a></button>
        </form>
      </div>
     
        
</body>
</html>