<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Finalizada</title>
    <link rel="stylesheet" href="/public/css/compra_finalizada.css">
</head>
<body>
    
</body>
</html>
<body class="bodyp1">
    <main class="mainp1">
        <div class="inf">
            <div class="imagem-pedido-finalizado">
                <img src="/public/img/icone finalizado.png" alt="" height="200px">
            </div>
            <div class="text">
                <p class="p1">PEDIDO FONALIZADO COM SUCESSO</p>
                    <p class="p2">Número do seu pedido 01</p>
                    <p class="p3">Obrigado por comprar em nossa loja</p>
            </div>
            <div class="botoes">
                <button class="Pagina-inicial"> Pagina inicial </button>
                <button class="Lista-de-Produtos"> Lista de Produto </button>
            </div>
            </div>
        </div>

    </main>
</body>
</html>