<%- include("./partials/head") %>
    <%- include("./partials/header") %>

    <main class="container-main-pix">
        <div class="container-form-pix">
            <div class="container-1-logo-pix">
                <img src="../../img/Logo Pix.png" alt="Logo Pix" height="40px">
            </div>
            <div class="container-3-pix">
                <h4><strong>Escolha uma Forma de Pagamento</strong></h4>
            </div>
            <div class="container-4">
                <div class="container-4-esquerdo">
                    <p>Idenficando sua tranferencia com  um <br> idencificador único</p>
                    <input type="text" id="texto" value="00020126330014br.gov.bcb.pix0111479199678055204000053039865802BR5925Gabriel Oliveira Ferreira6009Sao Paulo62070503***63044FA6" >
                    <button id="botao" class="copia-cola">Copia e Cola</button>

                    <script type="text/javascript">
                        document.getElementById("botao").addEventListener("click", function() {
                        document.getElementById("texto").select();
                        document.execCommand('copy');
                        });
                    </script>
                    <p><strong>Instruções de Pagamento com ID:</strong></p>
                    <ul>
                        <li>1. Use o ID da transação</li>
                        <li>2. Use o ID oara idenficar seu pagamento <br> PIX   no aplicativo do seu banco</li>
                    </ul>
                </div>
                <div class="container-4-direito">
                    <p>Ou tendo o código QR no Aplicativo do seu banco.</p>
                    <img src="../../img/q.png" alt="QR CODE" height="200px">
                </div>
            </div>
            <div class="container-5">
                <div class="container-5-paginainicial"><a href="/"><button type="button" >Pagina inicial</button></a></div>
            </div>
            </div>
        </div>       
    </main>
        <%- include("./partials/footer") %>


        