<%- include("./partials/head") %>
    <%- include("./partials/header") %>


        <main class="container-main">
            <section id="container-form">
                <div class="inf-finish">
                        <img src="../../img/finish.jpg" alt="" height="200px">
                        <h5>Pedido finalizado com sucesso</h5>
                        <h5>Número do seu pedido 01</h5>
                        <h5>Obrigado por comprar em nossa loja</h5>
                    <div class="btn-finish">
                        <a href="/"><button type="button" onclick="clearItemsCart()">Pagina inicial</button></a>
                    </div>
                </div>
            </section>
        </main>

        <%- include("./partials/footer") %>