<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/painel_usuario.css"/>
    <title>Formulário</title>
</head>
<body>
    <div class="container">
        <div class="header">
          <h2>Criar Uma Conta</h2>
        </div>
  
        <form id="form" class="form">
          <div class="form-control">
            <label for="username">Nome de usuário</label>
            <input
              type="text"
              id="username"
              placeholder="Digite seu nome de usuário..."
            />
    
          </div>
  
          <div class="form-control">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Digite seu email.." />
            
          </div>
  
          <div class="form-control">
            <label for="password">Senha</label>
            <input
              type="password"
              id="password"
              placeholder="Digite sua senha..."
            />
        
          </div>
  
          <div class="form-control">
            <label for="password-confirmation">Confirmação de senha</label>
            <input
              type="password"
              id="password-confirmation"
              placeholder="Digite sua senha novamente..."
            />
            
          </div>
  
          <button type="submit">Enviar</button>
        </form>
      </div>
     
        
</body>
</html>