<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title><%= title %> </title>
=======
    <title>Adminstrar Produto</title>
>>>>>>> 061aaf608aec16980a6689cf7bb845a05b0bfad2

    <!-- Styles CSS -->
    <link rel="stylesheet" href="/public/css/produto.css">
</head>

<body>
    <main>
        <div id="container-principal">
            <div class="container-lateral">

                <div class="titulo"><span>Administrador</span></div>
<<<<<<< HEAD
                <ul>
                    <li>Vendedor</li>
                    <li>Clientes</li>
                    <li>Representantes</li>
                    <li>Tablela de preço</li>
                    <li>Produtos</li>
                    <li>Pedidos</li>
                    <li>Relatórios</li>
                </ul>
=======

                <div class="btn-menus">
                    <button>Vendedor</button>
                    <button>Clientes</button>
                    <button>Representantes</button>
                    <button>Tablela de preço</button>
                    <button>Produtos</button>
                    <button>Pedidos</button>
                    <button>Relatórios</button>            
                </div>
           
                   
>>>>>>> 061aaf608aec16980a6689cf7bb845a05b0bfad2

            </div>
            <div class="container-central">
                <div class="container-header">
                    <div class="center">
                        <img src="/public/img/do-utilizador.png" alt="">
<<<<<<< HEAD
                        <span>Pedido</span>
=======
                        <h2>Pedido</h2>
>>>>>>> 061aaf608aec16980a6689cf7bb845a05b0bfad2
                    </div>
                    <div class="container-menu-adminstrador">
                        <ul>
                            <li><a href="">Meu produto</a></li>
                            <li><a href="">Perfil</a></li>
                            <li><a href="">Sair</a></li>
                        </ul>
                    </div>
                </div>
                <div class="caminho">
                    <p>Início</p>
                    <p>/</p>
                    <p>Clientes</p>
                </div>
                <div class="usuario-adicionar-produto">
<<<<<<< HEAD
                    <h2>Clientes</h2>
=======
                    <span>Clientes</span>
>>>>>>> 061aaf608aec16980a6689cf7bb845a05b0bfad2
                    <button><img src="/public/img/adicionar.png" alt="">Novo</button>
                </div>
                <div class="div-table">
                    <table>
                        <div class="table">
                            <div>
                                <input type="number" name="" id="">
                                <label for="">resultados por página</label>
                            </div>
                            <div>
                                <label for="">Pesquisar</label>
                                <input type="search" name="" id="">
                            </div>
                        </div>
                        <thead>
                            <tr class="cinza">
                                <th>Produto</th>
                                <th>Preco</th>
                                <th>Descrição</th>
                                <th>Ações</th>
                            </tr>
<<<<<<< HEAD
                        </thead>
                        <tbody>
=======

                        </thead>
                        <tbody>

>>>>>>> 061aaf608aec16980a6689cf7bb845a05b0bfad2
                            <tr class="cinza">
                                <td>Perfume Femino</td>
                                <td>32,00</td>
                                <td>Perfume feminino aromatizado</td>
                                <td><button><img src="/public/img/pen.png" alt=""></button> <button><img
                                            src="/public/img/lata-de-lixo.png" alt=""></button></td>
                            </tr>
<<<<<<< HEAD
                            <tr>
=======

                            <tr class="cinza">
>>>>>>> 061aaf608aec16980a6689cf7bb845a05b0bfad2
                                <td>Perfume Masculino</td>
                                <td>55,00</td>
                                <td>Perfume masculino adocicado</td>
                                <td><button><img src="/public/img/pen.png" alt=""></button> <button><img
                                            src="/public/img/lata-de-lixo.png" alt=""></button></td>
                            </tr>
<<<<<<< HEAD
=======

>>>>>>> 061aaf608aec16980a6689cf7bb845a05b0bfad2
                            <tr class="cinza">
                                <td>Perfume Infantil</td>
                                <td>35,00</td>
                                <td>Perfume infantil</td>
                                <td><button><img src="/public/img/pen.png" alt=""></button> <button><img
                                            src="/public/img/lata-de-lixo.png" alt=""></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

</html>