<%- include("./partials/head") %> 
<%- include("./partials/header") %>
    <main>
        <div class="containerPai">
            <div class="container-principal">
                <div class="container-esquerdo">
                    <img src="/img/7.png" class="imagens-menor1" alt="">
                    <img src="/img/7.png" class="imagens-menor1" alt="">
                    <img src="/img/7.png" class="imagens-menor1" alt="">
                </div>
                    <div class="imagem-maior">
                    <img src="/img/7.png" alt="">
                    </div>

                <div class="container-direito">
                    <h1>Active Giovanna Baby</h1>
                    <ul>Perfume Masculino Infantil 100ml</ul>
                    <ul><b>R$190,90</b></ul>
                    <ul>8x de R$23,86</ul>

                    <div class="btn-comprar">
                        <button class="comprar">COMPRAR</button>
                        <button class="calcular">Calcular Frete</button>
                    </div>
                    <div class="desconto">
                        <p>Oba, GANHE 5% OFF no Boleto Bancário ou no PIX!</p>
                        <p>Selecione sua forma de pagamento e aproveite ;)</p>
                        <p>Cupons, brindes e descontos não são acumulativos (verifique na finalização da compra).</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="descricao"> <h1>DESCRIÇÃO</h1></div>

            <div class="container-secundario">
                <div class="descricao1">
                    <h1>ESPECIFICAÇÕES</h1>
                    <ul> <b>Gênero:</b>	Masculino</ul>
                    <ul> <b>Concentração:</b> Deo Cologne</ul>
                    <ul> <b>Familia Olfativa:</b> Amadeirado, Cítrico, Floral </ul>
                    <ul> <b>Notas de Fundo:</b> Fava tonka</ul>
                    <ul> <b>Intensidade:</b> Moderada</ul>
                    <ul> <b>Tempo de Fixação:</b> Médio</ul>
                    <ul> <b>Ocasião:</b> Dia</ul>
                    <ul> <b>Sazonalidade:</b> Primavera </ul>
                </div>
                <div class="descricao2">
                    <h1>SOBRE O PRODUTO</h1>
                    <p>Fragrância composta por uma saída leve e transparente, da qual emerge um complexo de verbena e sálvia. Seu corpo foi elaborado com um delicioso acorde floral, com notas de musgo de carvalho e fava tonka, que resulta nesta criação moderna e surpreendente.</p>
                    <p>Precauções:
                        Evite contato com os olhos. Caso aconteça enxague abundantemente. Não aplicar sobre a pele ferida ou irritada. Em caso de irritação ou alergia, suspenda o uso e procure orientação médica. Manter fora do alcance das crianças. Uso externo.</p>
                    <p>Modo de usar:
                        Borrife na região que deseja perfumar do seu corpo. Dê preferência as áreas como punho, pulso e pescoço para privilegiar a difusão da fragrância.</p>
                    <p>Sobre a marca:
                        Em 1974, Giovanna Baby surgiu no mercado de produtos infantis com roupas que mesclavam estilo, design exclusivo e o sentimento gostoso de aconchego, do colo de mãe e da risada dos bebês. Com uma história de encantamento, a marca Giovanna Baby continua sendo referência em exclusividade e tradição: um objeto de desejo! Suas fragrâncias, inspiradas em bouquets internacionais, proporcionam deliciosas viagens pelos sentidos. Mais que idade ou classe social, o que define nosso público é a identificação que as mulheres têm com a nossa marca, capaz de oferecer produtos exclusivos, em um clima de magia e puro encantamento.</p>        
                </div>
            </div>
            <div class="ultimo-container">
                <h1>GARANTIA</h1>
                <P>Todos os nossos produtos são 100% originais e distribuído por fornecedores oficiais de cada marca no Brasil.
                    Saiba mais sobre porque é confiável comprar na Época Cosméticos.</P>

            </div>
        </div>
    </main>

    <%- include("./partials/footer") %>
