<%- include("./partials/head") %> <%- include("./partials/header") %>

<div class="container-sobrenos">

    <div class="card-sobrenos">
        <div class="imgBx-sobrenos">
            <img src="/img/Leo.png">
            </a>

            <div class = "h2">
           Léo Maranhão
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. 
            </p>

        </div>
    </div>

    <div class="card-sobrenos">
        <div class="imgBx-sobrenos">

            <img src="/img/Valquiria.png">
            </a>
            <div class = "h2">
                Valquíria Trigo
                 </div>
            <p>Tenho 44 anos, moro em São Paulo. 
                Trabalho ha mais de 15 anos na área de backoffice de vendas e tecnologia,
                descobri rescentemente esse desejo de trabalhar como desenvolvedora.
            </p>					

        </div>	
    </div>	

    <div class="card-sobrenos">
        <div class="imgBx-sobrenos">

            <img src="./img/g.png" height="320px">
            </a>
            <div class = "h2">
                Gabriel Oliveira
                 </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. 
            </p>
        </div>	
    </div>	

    <div class="card-sobrenos">
        <div class="imgBx-sobrenos">

            <img src="./img/Renato.png">
            </a>
            <div class = "h2">
               Renato Mendes
                 </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. 
            </p>
        </div>	
    </div>	

    <div class="card-sobrenos">
        <div class="imgBx-sobrenos">

            <img src="./img/Roberto.png">
            </a>

            <div class = "h2">
              Roberto Felix
                 </div>
            <p>Tenho 18 anos, moro em São Paulo. Atualmente estou cursando o 3º ano do Ensino Médio e trabalhando na área de vendas. 
                Meu objetivo e entrar em uma faculdade e seguir na área da Tecnologia.
            </p>
        </div>	
    </div>	

</div>	
<%- include("./partials/footer")%>