<%- include("./partials/head") %>
    <%- include("./partials/header") %>
        <main>
            <h2>
                <%= message %>
            </h2>
        </main>
        <%- include("./partials/footer") %>