<%- include("./partials/head") %>
    <%- include("./partials/header") %>
        <main>
            <div class="container-principal-PanelUser">
                <div class="container-PanelUser">
                    <div class="user">
                        <img src="/img/do-utilizador.png" alt="">
                        <h4>Vinicius Gonçalves</h4>
                    </div>
                    <div class="creditos">
                        <ul>
                            <h3>Créditos</h3>
                            <li><span>Total</span><span>R$ 0,00</span></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="container-central"> -->
                    <!-- <div class="meus-pedidos">
                        <h3>Meus Pedidos</h3>
                        <span>Aqui você encontra todas as informações do seu pedido.</span>
                        <div class="table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Pedidos</th>
                                        <th>Data</th>
                                        <th>Pagamento</th>
                                        <th>Posição</th>
                                        <th>NF-e</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>7677412</td>
                                        <td>17/06/2022</td>
                                        <td>Cartão de Crédito</td>
                                        <td>Enviado</td>
                                        <td><img src="/img/file.png" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td>7677412</td>
                                        <td>17/06/2022</td>
                                        <td>Cartão de Crédito</td>
                                        <td>Enviado</td>
                                        <td><img src="/img/file.png" alt=""></td>
                                    </tr>
                                    <tr>
                                        <td>7677412</td>
                                        <td>17/06/2022</td>
                                        <td>Cartão de Crédito</td>
                                        <td>Enviado</td>
                                        <td><img src="/img/file.png" alt=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> -->
                <!-- </div> -->

                <div class="atendimento-cliente">
                    <h4>Atendimento ao cliente</h4>
                    <h5>Central SAC: (19) 2124 4444</h5>
                    <h5>E-mail: faleconosco@prefuma.com.br</h5>
                    <a href="#">Atendimento via chat</a>
                </div>

            </div>
        </main>
        <%- include("./partials/footer") %>