<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armani Code Giorgio Armani</title>
    <link rel="stylesheet" href="/public/css/paginas_dos_produtos.css">
</head>

<body>
    <main>
        <div class="containerPai">
            <div class="container-principal">
                <div class="container-esquerdo">
                    <img src="/public/img/4.png" class="imagens-menor1" alt="">
                    <img src="/public/img/4.png" class="imagens-menor1" alt="">
                    <img src="/public/img/4.png" class="imagens-menor1" alt="">
                </div>
                    <div class="imagem-maior">
                    <img src="/public/img/4.png" alt="">
                    </div>

                <div class="container-direito">
                    <h1>Armani Code Giorgio Armani</h1>
                    <ul>Perfume Masculino - Eau de Toilette - 125ml</ul>
                    <ul><b>R$250,00</b></ul>
                    <ul>8x de R$31,25</ul>

                    <div class="btn-comprar">
                        <button class="comprar">COMPRAR</button>
                        <button class="calcular">Calcular Frete</button>
                    </div>
                    <div class="desconto">
                        <p>Oba, GANHE 5% OFF no Boleto Bancário ou no PIX!</p>
                        <p>Selecione sua forma de pagamento e aproveite ;)</p>
                        <p>Cupons, brindes e descontos não são acumulativos (verifique na finalização da compra).</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="descricao"> <h1>DESCRIÇÃO</h1></div>

            <div class="container-secundario">
                <div class="descricao1">
                    <h1>ESPECIFICAÇÕES</h1>
                    <ul> <b>Gênero:</b>	Masculino</ul>
                    <ul> <b>Concentração:</b> Eau de Toilette - EDT</ul>
                    <ul> <b>Familia Olfativa:</b> Oriental</ul>
                    <ul> <b>Notas de Fundo:</b> Couro, Tabaco e Fava Tonka</ul>
                    <ul> <b>Intensidade:</b> Leve / Moderada</ul>
                    <ul> <b>Tempo de Fixação:</b> Médio</ul>
                    <ul> <b>Estilo:</b>	Inovador, sexy e independente</ul>
                    <ul> <b>Ocasião:</b> Casual, Dia, Noite</ul>
                    <ul> <b>Sazonalidade:</b> Verão, Primavera</ul>
                </div>
                <div class="descricao2">
                    <h1>SOBRE O PRODUTO</h1>
                    <p>Mistério, Moderno, Irresistível. Uma fragrância sofisticada e sedutora para um homem carismático.Armani Code é uma fragrância estrela para quem é Vip, extremamente seletiva, reservada para aqueles do universo privado.</p>
                    <P>A primeira colônia oriental de Giorgio Armani, Armani Code combina um cocktail de cidra de aroma de bergamota e limão com notas macias de flor de oliveira, aquecido com Guaiac e Tonka Bean. Uma fragrância Eau de Toilette sedutora para o homem contemporâneo.</P>
                    <P>Uma fragrância inesquecível, Armani Code incorpora a visão de uma fragrância clássica reinterpretada com um toque moderno. Esta fragrância tem um toque atemporal e é como nenhuma outra. Inspira-se nos elementos de perfumes masculinos tradicionais, acrescentando contrastes originais desenvolvidos por Giorgio Armani:</P>
                    <P>Notas: Orientais amadeiradas misturadas com fava tonka, tabaco louro, e madeira de guaiaco.</P>
                    <P>O Frasco: Um frasco moderno, na cor Midnight Blue, é uma homenagem ao smoking de Giorgio Armani vestido por Denzel Washington na cerimônia do Oscar.</P>
                </div>
            </div>
            <div class="ultimo-container">
                <h1>GARANTIA</h1>
                <P>Todos os nossos produtos são 100% originais e distribuído por fornecedores oficiais de cada marca no Brasil.
                    Saiba mais sobre porque é confiável comprar na Época Cosméticos.</P>

            </div>
        </div>
    </main>

</html>