<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ck One CALVIN KLEIN</title>
    <link rel="stylesheet" href="/public/css/pagina_de_produto.css">
</head>

<body>
    <main>
        <div class="containerPai">
            <div class="container-principal">
                <div class="container-esquerdo">
                    <img src="/public/img/1.png" class="imagens-menor1" alt="">
                    <img src="/public/img/1.png" class="imagens-menor1" alt="">
                    <img src="/public/img/1.png" class="imagens-menor1" alt="">
                </div>
                    <div class="imagem-maior">
                    <img src="/public/img/1.png" alt="">
                    </div>

                <div class="container-direito">
                    <h1>Ck One CALVIN KLEIN</h1>
                    <ul>Perfume Unissex - Eau de Toilette - 100ml</ul>
                    <ul><b>R$299,90</b></ul>
                    <ul>8x de R$37,48</ul>

                    <div class="btn-comprar">
                        <button class="comprar">COMPRAR</button>
                        <button class="calcular">Calcular Frete</button>
                    </div>
                    <div class="desconto">
                        <p>Oba, GANHE 5% OFF no Boleto Bancário ou no PIX!</p>
                        <p>Selecione sua forma de pagamento e aproveite ;)</p>
                        <p>Cupons, brindes e descontos não são acumulativos (verifique na finalização da compra).</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="descricao"> <h1>DESCRIÇÃO</h1></div>

            <div class="container-secundario">
                <div class="descricao1">
                    <h1>ESPECIFICAÇÕES</h1>
                    <ul> <b>Gênero:</b>	Unissex</ul>
                    <ul> <b>Concentração:</b> Eau de Toilette - EDT</ul>
                    <ul> <b>Familia Olfativa:</b> Aromático, Cítrico</ul>
                    <ul> <b>Notas de Fundo:</b> Sândalo, Âmbar, Almíscar, Cedro e Musgo de Carvalho</ul>
                    <ul> <b>Intensidade:</b> Leve / Moderada</ul>
                    <ul> <b>Tempo de Fixação:</b> Médio</ul>
                    <ul> <b>Estilo:</b>	Inovador, sexy e independente</ul>
                    <ul> <b>Ocasião:</b> Casual, Dia, Noite</ul>
                    <ul> <b>Sazonalidade:</b> Verão, Primavera</ul>
                    <ul> <b>Ano de Lançamento:</b> 1994</ul>
                </div>
                <div class="descricao2">
                    <h1>SOBRE O PRODUTO</h1>
                    <p>O Perfume CK One Unissex Calvin Klein - Eau de Toilette simboliza um espírito universal para um mundo que é diversificado. Uma fragrância atemporal, que transborda juventude e simplicidade. Celebrando a individualidade e a unidade, essa fragrância irradia a emoção de oportunidades infinitas.</p>
                    <P>Um verdadeiro diálogo entre o masculino e o feminino, CK One é um perfume atraente para homens e mulheres. Um marco na década de 1990, conquistou o mundo e segue sendo um dos perfumes mais vendidos.</P>
                    <P>CK One é revolucionário e rejeita os estereótipos tradicionais de gênero ao harmonizar o floral feminino com a madeira masculina em uma única fragrância. Atemporal, ousada e clean, sua fragrância reúne notas refrescantes de chá verde e bergamota, perfeitamente equilibradas com nuances de especiarias, como cardamomo, junto às pétalas de rosas e violeta, compondo suas notas de fundo com a sensualidade do musk e do âmbar.</P>
                    <P>O nova-iorquino Calvin Richard Klein consagrou-se por criar um estilo único. Moderna, sofisticada, minimalista e interpretando o sexo de uma maneira ampla, essa é a essência das criações de Calvin Klein, traduzida em suas fragrâncias. A marca é símbolo de vanguarda na perfumaria.</P>
                    <P>Calvin Klein tem fragrâncias marcantes e sofisticadas. Referência mundial, a linha de perfumes Calvin Klein é casual, sensual, provocante e marca gerações. Os aromas envolventes são ideais para pessoas de personalidade forte e que além da boa aparência priorizam também uma imagem elegante, charmosa e com muito estilo.</P>
                </div>
            </div>
            <div class="ultimo-container">
                <h1>GARANTIA</h1>
                <P>Todos os nossos produtos são 100% originais e distribuído por fornecedores oficiais de cada marca no Brasil.
                    Saiba mais sobre porque é confiável comprar na Época Cosméticos.</P>

            </div>
        </div>
    </main>

</html>