<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erva Doce Granado Bebê</title>
    <link rel="stylesheet" href="/public/css/pagina_de_produto.css">
</head>

<body>
    <main>
        <div class="containerPai">
            <div class="container-principal">
                <div class="container-esquerdo">
                    <img src="/public/img/10.png" class="imagens-menor1" alt="">
                    <img src="/public/img/10.png" class="imagens-menor1" alt="">
                    <img src="/public/img/10.png" class="imagens-menor1" alt="">
                </div>
                    <div class="imagem-maior">
                    <img src="/public/img/10.png" alt="">
                    </div>

                <div class="container-direito">
                    <h1>Erva Doce Granado Bebê</h1>
                    <ul>Perfume Colônia Unissex - 100ml</ul>
                    <ul><b>R$90,90</b></ul>
                    <ul>8x de R$11,36</ul>

                    <div class="btn-comprar">
                        <button class="comprar">COMPRAR</button>
                        <button class="calcular">Calcular Frete</button>
                    </div>
                    <div class="desconto">
                        <p>Oba, GANHE 5% OFF no Boleto Bancário ou no PIX!</p>
                        <p>Selecione sua forma de pagamento e aproveite ;)</p>
                        <p>Cupons, brindes e descontos não são acumulativos (verifique na finalização da compra).</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="descricao"> <h1>DESCRIÇÃO</h1></div>

            <div class="container-secundario">
                <div class="descricao1">
                    <h1>ESPECIFICAÇÕES</h1>
                    <ul> <b>Gênero:</b>	Unissex</ul>
                    <ul> <b>Concentração:</b> Deo Cologne</ul>
                    <ul> <b>Familia Olfativa:</b> Aquático </ul>
                    <ul> <b>Notas de Fundo:</b> Notas frescas</ul>
                    <ul> <b>Intensidade:</b> Leve</ul>
                    <ul> <b>Tempo de Fixação:</b> Baixo</ul>
                    <ul> <b>Ocasião:</b> Dia</ul>
                    <ul> <b>Sazonalidade:</b> Primavera </ul>
                </div>
                <div class="descricao2">
                    <h1>SOBRE O PRODUTO</h1>
                    <p>Erva Doce Granado Bebê Colônia possui aquele cheirinho aconchegante e delicado que só os bebês têm!</p>
                    <p>Esta fragrância traz o lado mais fresco e verde da erva-doce. Sua fórmula suave tem base aquosa (não contém álcool) e foi especialmente desenvolvida para refrescar e perfumar a delicada pele do bebê.</p>
                    <p>Indicada para todas as idades, inclusive recém-nascidos. Dermatologicamente testada. Embalagem com válvula em spray. Livre de corantes, parabenos, álcool etílico e ingredientes de origem animal. Conteúdo: 100ml.</p>
                    <p>Modo de usar:
                        Aplique primeiramente nas mãos e espalhe suavemente sobre a pele do bebê.</p>
                    <p>Sobre a linha:
                        recomendada por maternidades e pediatras, a Linha Bebê Granado é especialmente desenvolvida para limpar com suavidade a delicada pele do bebê, deixando-a macia e perfumada. Os produtos são testados dermatologicamente e formulados de maneira a minimizar o possível surgimento de alergias.</p>
                    <p>Produzidos com base vegetal, são enriquecidos ainda com óleo de oliva e Vitaminas E, A e D. Além da fragrância Tradicional, os produtos podem ser encontrados nas fragrâncias Erva-doce, com propriedades relaxantes, e Lavanda e Camomila, com ações calmantes.</p>
                    <p>Sobre a marca:Sobre a marca:
                        A Granado é a empresa de cosméticos e medicamentos mais tradicional do Brasil. Fundada no Rio de Janeiro em 1870, a "Pharmácia Oficial da Família Imperial Brasileira" é reconhecida pelo qualidade e eficácia de produtos enriquecidos com extratos e óleos de plantas medicinais. Com mais de 70 lojas conceito, no Brasil e na Europa, e mais de 400 produtos em seu portfólio, a Granado está presente na casa e na memória de todo brasileiro. Nenhum produto Granado é testado em animais.
                        A Granado é a empresa de cosméticos e medicamentos mais tradicional do Brasil. Fundada no Rio de Janeiro em 1870, a "Pharmácia Oficial da Família Imperial Brasileira" é reconhecida pelo qualidade e eficácia de produtos enriquecidos com extratos e óleos de plantas medicinais. Com mais de 70 lojas conceito, no Brasil e na Europa, e mais de 400 produtos em seu portfólio, a Granado está presente na casa e na memória de todo brasileiro. Nenhum produto Granado é testado em animais.</p>
                        
                </div>
            </div>
            <div class="ultimo-container">
                <h1>GARANTIA</h1>
                <P>Todos os nossos produtos são 100% originais e distribuído por fornecedores oficiais de cada marca no Brasil.
                    Saiba mais sobre porque é confiável comprar na Época Cosméticos.</P>

            </div>
        </div>
    </main>

</html>