<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GB Blanc Vanilla Giovanna Baby</title>
    <link rel="stylesheet" href="/public/css/paginas_dos_produtos.css">
</head>

<body>
    <main>
        <div class="containerPai">
            <div class="container-principal">
                <div class="container-esquerdo">
                    <img src="/public/img/8.png" class="imagens-menor1" alt="">
                    <img src="/public/img/8.png" class="imagens-menor1" alt="">
                    <img src="/public/img/8.png" class="imagens-menor1" alt="">
                </div>
                    <div class="imagem-maior">
                    <img src="/public/img/8.png" alt="">
                    </div>

                <div class="container-direito">
                    <h1>GB Blanc Vanilla Giovanna Baby</h1>
                    <ul>Perfume Feminino Infantil 50ml</ul>
                    <ul><b>R$170,90</b></ul>
                    <ul>8x de R$21,36</ul>

                    <div class="btn-comprar">
                        <button class="comprar">COMPRAR</button>
                        <button class="calcular">Calcular Frete</button>
                    </div>
                    <div class="desconto">
                        <p>Oba, GANHE 5% OFF no Boleto Bancário ou no PIX!</p>
                        <p>Selecione sua forma de pagamento e aproveite ;)</p>
                        <p>Cupons, brindes e descontos não são acumulativos (verifique na finalização da compra).</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="descricao"> <h1>DESCRIÇÃO</h1></div>

            <div class="container-secundario">
                <div class="descricao1">
                    <h1>ESPECIFICAÇÕES</h1>
                    <ul> <b>Gênero:</b>	Masculino</ul>
                    <ul> <b>Concentração:</b> Deo Cologne</ul>
                    <ul> <b>Familia Olfativa:</b> Amadeirado, Cítrico, Floral </ul>
                    <ul> <b>Notas de Fundo:</b> Fava tonka</ul>
                    <ul> <b>Intensidade:</b> Moderada</ul>
                    <ul> <b>Tempo de Fixação:</b> Médio</ul>
                    <ul> <b>Ocasião:</b> Dia</ul>
                    <ul> <b>Sazonalidade:</b> Primavera </ul>
                </div>
                <div class="descricao2">
                    <h1>SOBRE O PRODUTO</h1>
                    <p>GB Deo Colônia Blanc Vanilla é uma fragrância divertida e moderna, que apresenta uma mistura elegante das notas frescas de bergamota e frésia, com a deliciosa baunilha. Em uma combinação que remete a aconchego e carinho, essa fragrância vai encantar você e a todos ao seu redor.</p>
                    <p>Modo de Usar:
                        Com a ponta dos dedos ou a palma da mão aplique uma pequena porção da colônia e espalhe na região que deseja perfumar do seu corpo. Dê preferência as áreas como punho, pulso e pescoço para privilegiar a difusão da fragrância. Pode ser usada também como desodorante.</p>
                    <p>A Marca:
                        Em 1974, Giovanna Baby surgiu no mercado de produtos infantis com roupas que mesclavam estilo, design exclusivo e o sentimento gostoso de aconchego, do colo de mãe e da risada dos bebês. Com uma história de encantamento, a marca Giovanna Baby continua sendo referência em exclusividade e tradição: um objeto de desejo! Suas fragrâncias, inspiradas em bouquets internacionais, proporcionam deliciosas viagens pelos sentidos. Mais que idade ou classe social, o que define nosso público é a identificação que os consumidores têm com a nossa marca, capaz de oferecer produtos exclusivos, em um clima de magia e puro encantamento.</p>    
                </div>
            </div>
            <div class="ultimo-container">
                <h1>GARANTIA</h1>
                <P>Todos os nossos produtos são 100% originais e distribuído por fornecedores oficiais de cada marca no Brasil.
                    Saiba mais sobre porque é confiável comprar na Época Cosméticos.</P>

            </div>
        </div>
    </main>

</html>