<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J'adore Dior</title>
    <link rel="stylesheet" href="/public/css/pagina_de_produto.css">
</head>

<body>
    <main>
        <div class="containerPai">
            <div class="container-principal">
                <div class="container-esquerdo">
                    <img src="/public/img/6.png" class="imagens-menor1" alt="">
                    <img src="/public/img/6.png" class="imagens-menor1" alt="">
                    <img src="/public/img/6.png" class="imagens-menor1" alt="">
                </div>
                    <div class="imagem-maior">
                    <img src="/public/img/6.png" alt="">
                    </div>

                <div class="container-direito">
                    <h1>J'adore Dior</h1>
                    <ul>Perfume Feminino - Eau de Parfum - 30ml</ul>
                    <ul><b>R$200,90</b></ul>
                    <ul>8x de R$25,11</ul>

                    <div class="btn-comprar">
                        <button class="comprar">COMPRAR</button>
                        <button class="calcular">Calcular Frete</button>
                    </div>
                    <div class="desconto">
                        <p>Oba, GANHE 5% OFF no Boleto Bancário ou no PIX!</p>
                        <p>Selecione sua forma de pagamento e aproveite ;)</p>
                        <p>Cupons, brindes e descontos não são acumulativos (verifique na finalização da compra).</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="descricao"> <h1>DESCRIÇÃO</h1></div>

            <div class="container-secundario">
                <div class="descricao1">
                    <h1>ESPECIFICAÇÕES</h1>
                    <ul> <b>Gênero:</b>	Feminino</ul>
                    <ul> <b>Concentração:</b> Eau de Parfum - EDP</ul>
                    <ul> <b>Familia Olfativa:</b> Floral, Frutal </ul>
                    <ul> <b>Notas de Fundo:</b> Almíscar, Baunilha, Cedro e Amora </ul>
                    <ul> <b>Intensidade:</b> Moderada / Alto</ul>
                    <ul> <b>Tempo de Fixação:</b> Longo</ul>
                    <ul> <b>Estilo:</b>	Para mulheres glamourosas, audaciosas e absolutamente femininas.</ul>
                    <ul> <b>Ocasião:</b> Dia</ul>
                    <ul> <b>Sazonalidade:</b> Primavera, Outono </ul>
                    <ul> <b>Tipo de Aplicação:</b> Spray</ul>
                    <ul> <b>Ano de Lançamento:</b> 1999 </ul>
                </div>
                <div class="descricao2">
                    <h1>SOBRE O PRODUTO</h1>
                    <p>J'adore Eau de Parfum, o icônico bouquet floral, atinge um equilíbrio artístico onde cada flor se expressa com sensualidade e frescor.</p>
                    <p>"J'adore é uma fragrância extraordinária, porque consegue ser sedutora sem esforço enquanto ostenta uma assinatura original. Carnal, mas não arrogante. Esta é uma composição que une contrastes, transformando notas florais icônicas em um conjunto atraente, sem precedentes e misterioso. J'adore inventa uma flor que não existe"</p>
                    <p>Tão lendário quanto delicado, o jasmim revela toda a riqueza plural de J’adore, suas nuances únicas, suas facetas frutadas, sua circularidade floral luminosa. Único, intenso como nenhum outro, o ouro branco de Grasse é uma flor excepcional que brilha no coração de J’adore.</p>
                    <p>Por 10 anos, François Demachy tem promovido parcerias entre a Dior e produtores de flores perfumadas na região de Grasse, perpetuando a conexão única entre Christian Dior e o sul da França.</p>
                    <p>Por 10 anos, François Demachy tem promovido parcerias entre a Dior e produtores de flores perfumadas na região de Grasse, perpetuando a conexão única entre Christian Dior e o sul da França.</p>
                    <p>Uma garrafa que lembra uma joia que você pode levar aonde quer que vá, o Eau de Parfum cabe na sua bolsa para uma viagem leve e fácil. Sua pérola macia rola voluptuosamente sobre a nuca, o pulso e o decote, liberando as notas do bouquet floral de J'adore com precisão.</p>
                    <p>J'adore Eau de Parfum de Dior é um bouquet inventado, moldado nos mínimos detalhes, como uma flor sob medida. A essência Ylang Ylang das Ilhas Comores revela as suas notas florais-frutadas e exala uma doçura exótica. Em seguida, a Rosa Damascena, sofisticada e exuberante, aquece os sentidos. Finalmente, um par de Jasmins ecoam num enlace perfeito. O Jasmim Grandiflorum de Grasse, quintessência da nobreza floral, exala a sua delicada sensualidade, com acentos de fruta e de sol que lhe conferem nuances adocicadas. Uma resposta ao toque mais carnal do Jasmim Sambac da Índia, « flor dos Deuses », cujas facetas quentes de flor de laranjeira se envolvem numa volúpia infinita.</p>
                    <p>”J’adore é um perfume extraordinário, porque revela o desafio de ser facilmente sedutor tendo ao mesmo tempo uma assinatura original.
                        Ser carnal sem ser pesado. É uma composição que alia os opostos, que faz de notas florais icônicas um conjunto atraente, inédito e misterioso. J’adore inventa uma flor que não existe, um ideal.” - A Fragrância:</p>
                </div>
            </div>
            <div class="ultimo-container">
                <h1>GARANTIA</h1>
                <P>Todos os nossos produtos são 100% originais e distribuído por fornecedores oficiais de cada marca no Brasil.
                    Saiba mais sobre porque é confiável comprar na Época Cosméticos.</P>

            </div>
        </div>
    </main>

</html>