<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Way Giorgio Armani</title>
    <link rel="stylesheet" href="/public/css/paginas_dos_produtos.css">
</head>

<body>
    <main>
        <div class="containerPai">
            <div class="container-principal">
                <div class="container-esquerdo">
                    <img src="/public/img/3.png" class="imagens-menor1" alt="">
                    <img src="/public/img/3.png" class="imagens-menor1" alt="">
                    <img src="/public/img/3.png" class="imagens-menor1" alt="">
                </div>
                    <div class="imagem-maior">
                    <img src="/public/img/3.png" alt="">
                    </div>

                <div class="container-direito">
                    <h1>My Way Giorgio Armani</h1>
                    <ul>Perfume Feminino - EDP - 30ml</ul>
                    <ul><b>R$220,00</b></ul>
                    <ul>8x de R$27,50</ul>

                    <div class="btn-comprar">
                        <button class="comprar">COMPRAR</button>
                        <button class="calcular">Calcular Frete</button>
                    </div>
                    <div class="desconto">
                        <p>Oba, GANHE 5% OFF no Boleto Bancário ou no PIX!</p>
                        <p>Selecione sua forma de pagamento e aproveite ;)</p>
                        <p>Cupons, brindes e descontos não são acumulativos (verifique na finalização da compra).</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="descricao"> <h1>DESCRIÇÃO</h1></div>

            <div class="container-secundario">
                <div class="descricao1">
                    <h1>ESPECIFICAÇÕES</h1>
                    <ul> <b>Gênero:</b>	Feminino</ul>
                    <ul> <b>Concentração:</b> Eau de Parfum - EDP</ul>
                    <ul> <b>Familia Olfativa:</b> Amadeirado, Floral </ul>
                    <ul> <b>Notas de Fundo:</b> Almíscar branco, Baunilha do Madagascar e Cedro da Virgínia.</ul>
                    <ul> <b>Intensidade:</b> Moderada / Alto</ul>
                    <ul> <b>Tempo de Fixação:</b> Longo</ul>
                    <ul> <b>Estilo:</b>	Independente, confiante e luxuosa </ul>
                    <ul> <b>Ocasião:</b> Dia</ul>
                    <ul> <b>Sazonalidade:</b> Primavera </ul>
                </div>
                <div class="descricao2">
                    <h1>SOBRE O PRODUTO</h1>
                    <p>My Way é o perfume de descobertas e conexões para uma mulher de mente aberta, curiosa e autêntica que está pronta para ampliar seus horizontes e viver encontros significativos em todo o mundo.</p>
                    <p>Esta fragrância feminina é um encontro de ingredientes de origem consciente. A bergamota encontra a flor de laranjeira do Egito em um começo luminoso e cintilante, com um buquê floral brilhante amplificado de tuberosa e jasmim da Índia como o coração pulsante. Finalmente, um cedro vibrante da Virgínia encontra uma baunilha sensual de Madagascar e almíscares brancos para assinar a composição.</p>
                    <p>A tampa azul e dourada é uma metáfora do mundo. O azul é a cor universal que nos une a todos. É englobado por um anel dourado, estampado com a assinatura de Giorgio Armani, símbolo de um caminho único que se ilumina a cada encontro ao longo do caminho. Esta fragrância luxuosa é recarregável.</p>
                    <p>É um talismã que encapsula todos os encontros que importam. Eu sou o que eu vivo!</p>
                </div>
            </div>
            <div class="ultimo-container">
                <h1>GARANTIA</h1>
                <P>Todos os nossos produtos são 100% originais e distribuído por fornecedores oficiais de cada marca no Brasil.
                    Saiba mais sobre porque é confiável comprar na Época Cosméticos.</P>

            </div>
        </div>
    </main>

</html>