<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sauvage Dior</title>
    <link rel="stylesheet" href="/public/css/pagina_de_produto.css">
</head>

<body>
    <main>
        <div class="containerPai">
            <div class="container-principal">
                <div class="container-esquerdo">
                    <img src="/public/img/5.png" class="imagens-menor1" alt="">
                    <img src="/public/img/5.png" class="imagens-menor1" alt="">
                    <img src="/public/img/5.png" class="imagens-menor1" alt="">
                </div>
                    <div class="imagem-maior">
                    <img src="/public/img/5.png" alt="">
                    </div>

                <div class="container-direito">
                    <h1>Sauvage Dior</h1>
                    <ul>Perfume Masculino - Eau de Parfum - 60m</ul>
                    <ul><b>R$399,90</b></ul>
                    <ul>8x de R$49,98</ul>

                    <div class="btn-comprar">
                        <button class="comprar">COMPRAR</button>
                        <button class="calcular">Calcular Frete</button>
                    </div>
                    <div class="desconto">
                        <p>Oba, GANHE 5% OFF no Boleto Bancário ou no PIX!</p>
                        <p>Selecione sua forma de pagamento e aproveite ;)</p>
                        <p>Cupons, brindes e descontos não são acumulativos (verifique na finalização da compra).</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="descricao"> <h1>DESCRIÇÃO</h1></div>

            <div class="container-secundario">
                <div class="descricao1">
                    <h1>ESPECIFICAÇÕES</h1>
                    <ul> <b>Gênero:</b>	Masculino</ul>
                    <ul> <b>Concentração:</b> Eau de Toilette - EDT</ul>
                    <ul> <b>Familia Olfativa:</b> Aromático, Cítrico </ul>
                    <ul> <b>Notas de Fundo:</b> Cedro, Ládano e Ambroxam</ul>
                    <ul> <b>Intensidade:</b> Leve / Moderada</ul>
                    <ul> <b>Tempo de Fixação:</b> Médio</ul>
                    <ul> <b>Estilo:</b>	Inovador, sexy e independente</ul>
                    <ul> <b>Ocasião:</b> Casual, Dia, Noite</ul>
                    <ul> <b>Sazonalidade:</b> Verão, Primavera</ul>
                </div>
                <div class="descricao2">
                    <h1>SOBRE O PRODUTO</h1>
                    <p>Sauvage é um ato de criação inspirado em espaços abertos. Um céu azul com ozônio que domina uma paisagem rochosa branca e quente. Uma composição ousada para um homem autêntico.</p>
                    <p>Sauvage Masculino Eau de Toilette é uma fragrância radicalmente fresca e sofisticada. Ela faz uma transição entre o brutal e o nobre. Inspirada pelo ar livre, com o céu azul ozônio cortado por uma paisagem rochosa, sob o sol tórrido do deserto, essa fragrância é uma fusão de ingredientes naturais selecionados com extremo cuidado.</p>
                    <p>Originário da plantação no Sri-Lanka, parceria de Dior há mais de 10 anos, o Sândalo presente em Sauvage Parfum tem nuances ricas e qualidades excepcionais graças a métodos de cultivo muito específicos.</p>
                </div>
            </div>
            <div class="ultimo-container">
                <h1>GARANTIA</h1>
                <P>Todos os nossos produtos são 100% originais e distribuído por fornecedores oficiais de cada marca no Brasil.
                    Saiba mais sobre porque é confiável comprar na Época Cosméticos.</P>

            </div>
        </div>
    </main>

</html>