<div class="footer-texto">
    <h5>Perfuma cosméticos | uma empresa do grupo <span>Magalu</span></h5>
</div>

<div class="redes-sociais">
    <h5>Vem ficar pertinho</h5>
    <div class="img-sociais">
        <img src="../../../img/facebook.png" alt="">
        <img src="../../../img/instagram.png" alt="">
        <img src="../../../img/twitter.png" alt="">
    </div>
</div>

<footer class="container-footer">
    <div class="footer">

        <!-- Menu dropdown -->
        <div class="menu-footer">
            <li class="navbar-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Departamentos</a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://">Perfumes</a>
                    <a class="dropdown-item" href="http://">Maquiagem</a>
                    <a class="dropdown-item" href="http://">Tratamentos</a>
                    <a class="dropdown-item" href="http://">Cuidados pessoais</a>
                    <a class="dropdown-item" href="http://">Bem estar</a>
                    <a class="dropdown-item" href="http://">Unhas</a>
                </div>
            </li>
        </div>

        <div class="menu-footer">
            <li class="navbar-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Central de Atendimento</a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://">Atendimento</a>
                    <a class="dropdown-item" href="http://">Meus pedidos</a>
                    <a class="dropdown-item" href="http://">Trocas e devolução</a>
                    <a class="dropdown-item" href="http://">2° via do Boleto</a>
                    <a class="dropdown-item" href="http://">Formas de pagamento</a>
                    <a class="dropdown-item" href="http://">Politica de Privacidade</a>
                </div>
            </li>
        </div>


        <div class="menu-footer">
            <li class="navbar-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Serviços</a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://">Rastrear seu pedido</a>
                    <a class="dropdown-item" href="http://">Cupons de desconto</a>
                    <a class="dropdown-item" href="http://">Ganhar brindes</a>
                    <a class="dropdown-item" href="http://">Sac das marcas</a>
                    <a class="dropdown-item" href="http://">Lojas parceiras</a>
                    <a class="dropdown-item" href="http://">Procon-RJ</a>
                </div>
            </li>
        </div>
    </div>

    <div class="container-footer-pg-redesSociais">
        <div class="pagamentos">
            <h5>Forma de pagamento</h5>
            <div class="pagamentos-cartoes">
                <img src="../../../img/cartao-de-credito.png" alt="">
                <img src="../../../img/cartao-de-credito.png" alt="">
                <img src="../../../img/cartao-de-credito.png" alt="">
                <img src="../../../img/cartao-de-credito.png" alt="">
                <img src="../../../img/cartao-de-credito.png" alt="">
                <img src="../../../img/cartao-de-credito.png" alt="">
                <img src="../../../img/cartao-de-credito.png" alt="">
            </div>
        </div>

        <div class="redes-sociais-app">
            <h5>Baixe o nosso App</h5>
            <div class="img-sociais-app">
                <img src="../../../img/app-store.png" alt="App Store">
                <img src="../../../img/google-play.png" alt="Play Store">
            </div>
        </div>
    </div>


    <div class="politicas-empresa">
        <p>Perfuma Cosméticos Perfumaria | 4020-2052 | site.sac@perfumacosmeticos.com.br (por favor, entre em contato
            conosco através do formulário de atendimento) | www.perfumacosmeticos.com.br Razão Social: Campos Floridos
            Comercio de Cosmeticos Ltda | CNPJ: 01.239.313/0004-02 Estrada Municipal Maria Margarida Pinto Dona
            Belinha 742 – Bairro dos Pires – Extrema, MG (não realizamos vendas no local).</p>
        <p>O preço válido será o da finalização da compra. Vendas sujeitas à análise de dados. Brindes não são
            vendidos. Brindes, cupons e descontos não são cumulativos. As imagens em nosso site são meramente
            ilustrativas.</p>
        <p>*Política de frete grátis não inclui compras em parcerias do tipo marketplace.</p>
    </div>
</footer>


<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>


<script src="../../../js/script.js"></script>

</body>

</html>