<div class="footer-texto">
    <h5>Perfuma cosméticos | uma empresa do grupo <span>Magalu</span></h5>

    <div>
        <a href="/produtoADM"><p>produtoADM</p></a>
        <a href="/painel_usuario"><p>Painel Usuario (Criar conta)</p></a>
        <a href="/painelUsuario"><p>Painel Usuario </p></a>
        <a href="/home"><p>Home</p></a>
        <a href="/finalizarCompra"><p>Finalizar Compra</p></a>
        <a href="/compra_finalizada"><p>Compra Finalizada</p></a>

    </div>

</div>

<footer class="container-footer">
    <div class="footer">
        <div class="menu-footer">
            <h3>Departamentos</h3>
            <a href="http://">Perfumes</a>
            <a href="http://">Maquiagem</a>
            <a href="http://">Cabelos</a>
            <a href="http://">Dermocosméticos</a>
            <a href="http://">Tratamentos</a>
            <a href="http://">Cuidados pessoais</a>
            <a href="http://">Bem estar</a>
            <a href="http://">Elétricos</a>
            <a href="http://">Unhas</a>
        </div>

        <div class="menu-footer">
            <h3>Central de Atendimento</h3>

            <a href="http://">Atendimento</a>
            <a href="http://">Meus pedidos</a>
            <a href="http://">Como comprar</a>
            <a href="http://">Trocas e devolução</a>
            <a href="http://">2° via do Boleto</a>
            <a href="http://">Época Cosméticos é Confiavél</a>
            <a href="http://">Formas de pagamento</a>
            <a href="http://">Prazo de entrega</a>
            <a href="http://">Contrato de Venda</a>
            <a href="http://">Politica de Privacidade</a>
        </div>

        <div class="menu-footer">
            <h3>Serviços</h3>
            <a href="http://">Rastrear seu pedido</a>
            <a href="http://">Cupons de desconto</a>
            <a href="http://">Ganhar brindes</a>
            <a href="http://">Sac das marcas</a>
            <a href="http://">Lojas parceiras</a>
            <a href="http://">Procon-RJ</a>
        </div>

        <div class="container-footer-pg-redesSociais">
            <div class="pagamentos">
                <h2>Forma de pagamento</h2>
                <div class="pagamentos-cartoes">
                    <img src="./img/cartao-de-credito.png" alt="">
                    <img src="./img/cartao-de-credito.png" alt="">
                    <img src="./img/cartao-de-credito.png" alt="">
                    <img src="./img/cartao-de-credito.png" alt="">
                    <img src="./img/cartao-de-credito.png" alt="">
                    <img src="./img/cartao-de-credito.png" alt="">
                    <img src="./img/cartao-de-credito.png" alt="">
                    <img src="./img/cartao-de-credito.png" alt="">
                </div>
            </div>

            <div class="container-redes-sociais">
                <div class="redes-sociais">
                    <h2>Vem ficar pertinho</h2>
                    <div class="img-sociais">
                        <img src="./img/facebook.png" alt="">
                        <img src="./img/instagram.png" alt="">
                        <img src="./img/twitter.png" alt="">
                    </div>
                </div>
                <div class="redes-sociais-app">
                    <h2>Baixe o nosso App</h2>
                    <div class="img-sociais-app">
                        <img src="./img/app-store.png" alt="">
                        <img src="./img/google-play.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="politicas-empresa">
        <p>Época Cosméticos Perfumaria | 4020-2052 | site.sac@epocacosmeticos.com.br (por favor, entre em contato
            conosco através do formulário de atendimento) | www.epocacosmeticos.com.br Razão Social: Campos Floridos
            Comercio de Cosmeticos Ltda | CNPJ: 01.239.313/0004-02 Estrada Municipal Maria Margarida Pinto Dona
            Belinha 742 – Bairro dos Pires – Extrema, MG (não realizamos vendas no local).</p>
        <p>O preço válido será o da finalização da compra. Vendas sujeitas à análise de dados. Brindes não são
            vendidos. Brindes, cupons e descontos não são cumulativos. As imagens em nosso site são meramente
            ilustrativas.</p>
        <p>*Política de frete grátis não inclui compras em parcerias do tipo marketplace.</p>
    </div>
</footer>

</body>

</html>