<header>
    <div id="container-header">
        <div class="anuncio">
            <img src="/img/caminhao-bau.png" alt="">
            <span><b>Frete grátis</b> a partir de 149,00</span>
        </div>
    </div>

    <div class="container-logo-pesquisa">
        <img src="/img/logo perfuma.png" alt="">

        <div class="container-search img-search">
            <input type="search" name="" id="" placeholder="Oi, o que procura hoje? :)">
            <img src="/img/lupa.png" alt="">
        </div>

        <h3>Oie! <br>Vem fazer seu login ;)</h3>

        <div class="img-lovbag">
            <img src="/img/love.png" alt="">
            <img src="/img/shopping-bag.png" alt="">
        </div>
    </div>

    <div class="container-menu">
        <div class="menu img-bars">
            <img src="/img/menu.png" alt="">
            <a href="#">Ver Tudo</a>
            <a href="#">Cabelos</a>
            <a href="#">Maquiagem</a>
            <a href="#">Tratamentos</a>
            <a href="#">Marcas</a>
            <a href="#">Atendimento</a>
        </div>

    </div>

</header>