<div class="in-table">

    <form action="/user/search" method="get">
            <input type="search" name="key" id="search" placeholder="Pesquisar...">
            <img src="/img/lupa.png" alt="">
            <button type="submit"></button>
    </form>

</div>